.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 110px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-video-1 {
  width: 589px;
  height: 332px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    width: 340px;
  }
}